<section class="about-quote-section container-fluid d-flex justify-content-center align-items-center py-4">
  <blockquote class="quote-wrapper d-flex flex-column justify-content-center align-items-center col-10 col-md-8 col-lg-7">
    <p class="about-quote text-center mb-4"><q>As a contemporary artist, I skillfully blend opposing techniques within my pieces. Through subtle humor and creative nuances, I invite viewers to challenge their perspectives and discover new ways of interpreting the world around them. My work is designed to provoke thought and inspire a fresh, unconventional approach to visual experiences.</q></p>
    <a href="/Works" class="quote-btn text-center">See My Works</a>
  </blockquote>
</section>