<section class="container-fluid d-flex flex-column justify-content-evenly align-items-center col-11 col-lg-10 py-5">
  <figure class="figure col-11 col-sm-10 col-md-8 mb-4" data-aos="flip-up" data-aos-duration="2500">
    <img src="/images/about-pic.jpg" class="figure-img img-fluid rounded" alt="artist picture">
  </figure>
  <div class="container col-12 col-md-10" data-aos="fade-up" data-aos-duration="1000">
    <h3 data-aos="fade-down" data-aos-duration="1000">About Me</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, voluptatem. Quos, facilis voluptates! Perferendis placeat dolorem officiis adipisci vitae sit culpa repellendus magni officia necessitatibus!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, tenetur! Adipisci, at ducimus modi ea doloribus labore odit voluptates vitae laboriosam repellendus delectus. Amet fugiat placeat eos temporibus est libero voluptates exercitationem recusandae provident odit. Asperiores debitis eaque quaerat aut!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi inventore eius amet. Ab aperiam porro quas rerum animi nostrum ad.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, voluptatem. Quos, facilis voluptates! Perferendis placeat dolorem officiis adipisci vitae sit culpa repellendus magni officia necessitatibus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente cum officia nostrum sequi voluptas in. Et fuga obcaecati commodi ut, cumque enim, dolor illo delectus quae suscipit exercitationem quaerat eos cupiditate culpa, hic temporibus aspernatur ullam molestiae officiis deleniti voluptatibus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quaerat blanditiis mollitia ipsum totam saepe nihil temporibus dolorem, atque iusto nemo quis eligendi accusantium sequi quo praesentium quas voluptates necessitatibus ipsa cumque eaque sit veniam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, voluptatem. Quos, facilis voluptates! Perferendis placeat dolorem officiis adipisci vitae sit culpa repellendus magni officia necessitatibus!</p>
  </div>
</section>