@use './includes/colors' as color;
@use './includes/typography' as font;
@use './includes/mixins' as mx;
@use './includes/variables' as var;

* {
 border: 0;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 outline: none;
 font-family: font.$mainSans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
 text-decoration: none;
}

::selection {
  background-color: color.$black;
  color: color.$white;
}

.nav-link {
  text-transform: uppercase;
  text-shadow: 0 0 0.25rem color.$black;
  &:hover {
    color: color.$firstColor;
  }
}

.navbar-toggler-icon {
  background-image: url('/icons/menu-bar.svg');
}

.site-title, .site-title a {
  font-size: 2rem;
  color: color.$white;
  text-shadow: 0 0 0.25rem color.$black;
  transition: var.$trs-03;
  margin-bottom: 0;
  &:hover {
    color: color.$firstColor;
  }
}

.hero-title {
  color: color.$white;
  font-size: 3rem;
  text-shadow: 0 0 0.25rem color.$black;
  margin-bottom: 4.5rem;
}

h1, h2, h3, h1 a, h2 a, h3 a {
  font-family: font.$mainSerif;
}

.bg-body-tertiary {
  background-color: unset !important;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0.75rem;
  font-size: font.$paraSize;
}

.card-body p {
  margin-bottom: 0.25rem;
}

.grey-text {
  color: color.$darkGrey;
  transition: var.$trs-03;
  &:hover {
    color: color.$black;
  }
}

@media all and (max-width: 991px) {
  
  .mobile-title {
    display: initial;
  }

  .desktop-title {
    display: none;
  }
}

@media all and (min-width: 992px) {
  
  .nav-link {
    font-size: 0.9rem;
    padding: 0.45rem 0.45rem !important;
  }

  .mobile-title {
    display: none;
  }

  .desktop-title {
    display: initial;
  }
}
