@use './includes/colors' as color;
@use './includes/typography' as font;
@use './includes/mixins' as mx;
@use './includes/variables' as var;

* {
 border: 0;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 outline: none;
 font-family: font.$mainSans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
 text-decoration: none;
}

::selection {
  background-color: color.$black;
  color: color.$white;
}

.nav-link {
  text-shadow: 0 0 0.25rem color.$black;
  &:hover {
    text-shadow: 0 0;
  }
}

.site-title, .site-title a {
  font-size: 2rem;
  color: color.$white;
  text-shadow: 0 0 0.25rem color.$black;
}

.hero-title {
  color: color.$white;
  font-size: 3rem;
  text-shadow: 0 0 0.25rem color.$black;
}

h1, h2, h3, h1 a, h2 a, h3 a {
  font-family: font.$mainSerif;
}


a {
  text-decoration: none;
}

p {
  margin-bottom: 0.75rem;
  font-size: font.$paraSize;
}
