---
import WorkCard from "./WorkCard.astro"
---

<div id="works-gallery" class="container-fluid py-5">
  <WorkCard 
    title="Painting title"
    src="/paintings/p1.jpg"
    price={199}
  />
  <WorkCard 
  title="Painting title"
  src="/paintings/p2.jpg"
  price={489}
  />
  <WorkCard 
  title="Painting title"
  src="/paintings/p3.jpg"
  price={249}
  />
  <WorkCard 
  title="Painting title"
  src="/paintings/p4.jpg"
  price={149}
  />
  <WorkCard 
  title="Painting title"
  src="/paintings/p5.jpg"
  price={119}
  />
  <WorkCard 
  title="Painting title"
  src="/paintings/p6.jpg"
  price={399}
  />
  <WorkCard 
  title="Painting title"
  src="/paintings/p7.jpg"
  price={789}
  />
  <WorkCard 
  title="Painting title"
  src="/paintings/p8.jpg"
  price={769}
  />
  <WorkCard 
  title="Painting title"
  src="/paintings/p9.jpg"
  price={189}
  />
  <WorkCard 
  title="Painting title"
  src="/paintings/p10.jpg"
  price={949}
  />
  <WorkCard 
  title="Painting title"
  src="/paintings/p11.jpg"
  price={339}
  />
  <WorkCard 
  title="Painting title"
  src="/paintings/p12.jpg"
  price={639}
  />
  <WorkCard 
  title="Painting title"
  src="/paintings/p13.jpg"
  price={429}
  />
  <WorkCard 
  title="Painting title"
  src="/paintings/p14.jpg"
  price={659}
  />
  <WorkCard 
  title="Painting title"
  src="/paintings/p15.jpg"
  price={929}
  />
  <WorkCard 
  title="Painting title"
  src="/paintings/p16.jpg"
  price={289}
  />
</div>