---
interface Props {
  title: string;
  src: string;
  price: number;
}

const { title, src, price } = Astro.props
---

<div class="work-card card m-3" style="width: 16rem;" data-aos="zoom-in" data-aos-duration="1000">
  <figure class="figure">
    <img src={src} class="card-img-top" alt={title}>
  </figure>
  
  <div class="card-body">
    <p class="card-text text-center">{title}</p>
    <p class="card-text text-center">$ {price}</p>
  </div>
</div>