---
import Layout from '../layouts/Layout.astro';

import IndexHero from '../components/IndexHero.astro';
import Intro from '../components/Intro.astro';
import Paintings from '../components/Paintings.astro';
---

<Layout title="Welcome to Astro.">
	<IndexHero />
	<main>
		<Intro />
		<Paintings />
	</main>
</Layout>
