<div class="dev-signature-container">
  <p class="dev-signature">Developed by <a href="https://github.com/MartinXCVI" class="github-link" target="_blank">MartinXCVI <i class="fa-brands fa-square-github"></i></a></p>
</div>