---
import './SocialsBox.astro'
import SocialsBox from './SocialsBox.astro'
import DevSignature from './DevSignature.astro'
---

<div class="footer container-fluid py-4">
  <div class="footer-container container-fluid d-flex justify-content-between align-items-center">
    <SocialsBox />
    <DevSignature />
  </div>
</div>