---
import Navbar from "./Navbar.astro"
---

<header class="hero-header">
  <Navbar />
  <section class="hero-section">
    <h2 class="text-center hero-title">Painting Artist<br> Website</h2>
  </section>
</header>