---
import './SocialsBox.astro'
import SocialsBox from './SocialsBox.astro'
---

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid navbar-container">
    <h1 class="site-title col-4 mobile-site-title"><a href="/">Painter's Name</a></h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="#">Works</a>
        <a class="nav-link" href="/Contact">Contact</a>
        <a class="nav-link" href="/About">About</a>
      </div>
    </div>
    <h1 class="site-title desktop-site-title col-4"><a href="/">Pinter's Name</a></h1>
    <div class="p-xl-3">
      <SocialsBox />
    </div>
  </div>
</nav>