<section class="new-paint-section py-5">
  <section class="container-fluid col-12 col-lg-10 d-flex flex-column justify-content-center align-items-center flex-lg-row">
    <h3 class="mb-4 mobile-title grey-text">Latest Work Name Here</h3>
    <figure class="figure col-11 col-md-8 col-lg-5 col-xl-5">
      <img src="/paintings/new.jpg" class="figure-img img-fluid rounded" alt="...">
    </figure>
    <article class="container col-11 col-md-8 col-lg-6 col-xl-6">
      <h3 class="mb-4 desktop-title grey-text">Latest Work Name Here</h3>
      <small class="d-flex mb-2">A small description about the project</small>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur distinctio molestiae sed in inventore omnis dicta mollitia esse sequi laborum nostrum, recusandae alias laudantium corrupti?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia iste eos beatae eveniet sit eum illum, ducimus sequi, facere porro quisquam excepturi, quo ipsa ex.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, fugiat excepturi accusantium ex eum id vel! Reiciendis quaerat itaque quis sapiente. Commodi laudantium earum temporibus modi consectetur quia architecto vero.</p>
    </article>
  </section>
</section>