---
interface Props {
  image: string
  title: string
}

const { image, title } = Astro.props
---

<article class="paint-card" data-aos="zoom-out" data-aos-duration="1000">
  <figure class="figure">
    <a href="/Works"><img src={image} class="figure-img img-fluid rounded" alt={title}></a>
    <figcaption class="figure-caption text-center">{title}</figcaption>
  </figure>
</article>