<div class="socials-div d-flex gap-3">
  <a href="" target="_blank" title="Instagram link"><i class="fa-brands fa-instagram"></i></a>
  <a href="" target="_blank" title="YouTube link"><i class="fa-brands fa-youtube"></i></a>
  <a href="" target="_blank" title="Pinterest link"><i class="fa-brands fa-pinterest"></i></a>  
</div>