/*----- Global styling -----*/
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Open Sans", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}

::selection {
  background-color: #151515;
  color: #fefefe;
}

.nav-link {
  text-shadow: 0 0 0.25rem #151515;
}
.nav-link:hover {
  text-shadow: 0 0;
}

.site-title, .site-title a {
  font-size: 2rem;
  color: #fefefe;
  text-shadow: 0 0 0.25rem #151515;
}

.hero-title {
  color: #fefefe;
  font-size: 3rem;
  text-shadow: 0 0 0.25rem #151515;
}

h1, h2, h3, h1 a, h2 a, h3 a {
  font-family: "Kalnia", serif;
}

.bg-body-tertiary {
  background-color: unset !important;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

.grey-text {
  color: #606060;
  transition: 0.3s linear all;
}
.grey-text:hover {
  color: #151515;
}

@media all and (max-width: 991px) {
  .mobile-title {
    display: initial;
  }
  .desktop-title {
    display: none;
  }
}
@media all and (min-width: 992px) {
  .mobile-title {
    display: none;
  }
  .desktop-title {
    display: initial;
  }
}
/*----- Includes -----*/
/*----- Components ------*/
.paint-card {
  width: 30%;
}

@media all and (max-width: 480px) {
  .paint-card {
    width: 85%;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .paint-card {
    width: 70%;
  }
}
@media all and (max-width: 767px) {
  #paintings-gallery {
    flex-direction: column;
    justify-content: center;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .paint-card {
    width: 45%;
  }
}
.footer {
  background-color: #202020;
}

.dev-signature {
  color: #fefefe;
}

.dev-signature a {
  transition: 0.3s linear all;
}

@media all and (max-width: 991px) {
  .footer-container {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .footer-container .socials-div {
    margin-bottom: 1rem;
  }
}
.header-component {
  background-color: #202020;
}

.header-component .navbar .navbar-container .navbar-toggler {
  background-color: #f6f6f6;
  border: 1px solid #fefefe;
}

/*----- Views ------*/
.hero-header {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.hero-header .bg-body-tertiary {
  background-color: transparent !important;
}

.header-hero .nav-bar .container-fluid {
  justify-content: space-evenly !important;
  padding: 0rem 3rem;
}

.hero-header::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/index-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.hero-header::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  background: #151515;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  color: #fefefe;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #f6f6f6;
}

.socials-div a {
  color: #fefefe;
  text-shadow: 0 0 0.25rem #151515;
}

.hero-section {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-paint-section {
  background-color: #efefef;
}

@media all and (max-width: 991px) {
  .navbar-container {
    justify-content: center !important;
  }
  .desktop-site-title {
    display: none;
  }
  .mobile-site-title {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
  .socials-div {
    display: none !important;
  }
  .footer-container .socials-div {
    display: flex !important;
  }
  .navbar-collapse {
    width: 100%;
  }
  .nav-link {
    text-align: center;
  }
  .navbar-toggler {
    margin-bottom: 1rem;
  }
}
@media all and (min-width: 992px) {
  .mobile-site-title {
    display: none;
  }
}
.about-quote-section {
  min-height: 70vh;
  position: relative;
}
.about-quote-section::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  background: #151515;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.about-quote-section::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/about-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.about-quote {
  color: #fefefe;
  text-shadow: 0 0 0.2rem #151515;
  line-height: 2.25rem;
  font-size: 1.2rem;
  font-style: italic;
}

#works-gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.work-card {
  background-color: #202020;
  color: #f6f6f6;
  transition: 0.3s linear all;
  cursor: pointer;
}
.work-card:hover {
  background-color: #f6f6f6;
  color: #202020;
}

.contact-section {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.contact-section::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  background-image: url("/images/contact-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.contact-wrapper {
  width: 45%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

#message-input {
  resize: none;
}

.contact-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.5rem;
}
.contact-btns button {
  width: 25%;
  transition: 0.3s linear all;
}
.contact-btns .send-btn {
  background-color: #fefefe;
  color: #151515;
  border: 1px solid black;
  border-radius: 0.35rem;
}
.contact-btns .send-btn:hover {
  background-color: #151515;
  color: #fefefe;
}
.contact-btns .reset-btn {
  background-color: #151515;
  color: #fefefe;
  border: 1px solid black;
  border-radius: 0.35rem;
}
.contact-btns .reset-btn:hover {
  background-color: #fefefe;
  color: #151515;
}

@media all and (max-width: 480px) {
  .contact-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .contact-btns button {
    width: 100%;
    padding: 0.5rem;
  }
  .contact-btns .send-btn {
    margin-bottom: 0.75rem;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .contact-form {
    width: 75%;
  }
  .contact-btns button {
    width: 35%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .contact-form {
    width: 60%;
  }
}
@media all and (max-width: 991px) {
  .contact-wrapper {
    width: 100%;
    padding: 2rem 1rem !important;
  }
}
.error-section {
  min-height: 100vh;
  position: relative;
  color: #fefefe;
  text-shadow: 0 0 0.25rem #151515;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-section::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  background: #202020;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}
.error-section::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/404-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}
.error-section .error-icon {
  width: 10rem;
}
.error-section h1 {
  font-size: 2.55rem;
}
.error-section p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.error-section a {
  background-color: transparent;
  color: #fefefe;
  border: 1px solid #fefefe;
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  transition: 0.3s linear all;
}
.error-section a:hover {
  background-color: #fefefe;
  color: #303030;
  border: 1px solid #fefefe;
  border-radius: 3rem;
  text-shadow: 0 0 0;
}

/*# sourceMappingURL=styles.css.map */
