<section class="error-section container-fluid">
  <img src="/icons/face-painting.png" class="error-icon img-thumbnail bg-transparent border-0" alt="...">
  <h1 class="text-center">Oops! Something went wrong...</h1>
  <p class="text-center">Or the resource that you are looking for does not exist.</p>
  <a class="text-center" href="/">Go Back Home</a>
</section>