@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;

.contact-section {
  width: 100%;
  min-height: 90vh;
  @include mx.flexRow(flex-start, center);
  position: relative;
  &::before {
    @include mx.bgColor(-1, color.$black, 0.3);
  }
  &::after {
    @include mx.bgHeroImg(-5, '/images/contact-hero.jpg', 0.8);
  }
}

.contact-wrapper {
  width: 45%;
  min-height: 100vh;
  @include mx.flexCol(center, center);
  position: relative;
  &::before {
    @include mx.bgColor(-1, color.$softerGrey, 0.4);
    transition: var.$trs-03;
  }
  &:hover::before {
    opacity: 0.9;
  }
}

.contact-form .form-label {
  font-family: font.$mainSerif;
  font-size: 1.15rem;
  font-weight: 500;
  text-shadow: 0 0 1rem color.$white;
}

.contact-form .form-control {
  &:focus {
    outline: none;
    box-shadow: 0 0;
    border: 1px solid color.$softerBlack;
  }
}

#message-input {
  resize: none;
}

.contact-btns {
  @include mx.flexRow(space-evenly, center);
  padding-top: 0.5rem;

  button {
    width: 25%;
    transition: 0.3s linear all;
  }
  .send-btn {
    @include mx.btnStyle(transparent, color.$black, black, 0.35rem);
    &:hover {
      @include mx.colorize(seagreen, color.$white);
    }
  }
  .reset-btn {
    @include mx.btnStyle(color.$black, color.$white, black, 0.35rem);
    &:hover {
      @include mx.colorize(color.$secondColor, color.$whiteSmoke);
    }
  }
}

@media all and (max-width: 480px) {

  .contact-btns {
    @include mx.flexCol(space-evenly, center);
    button {
      width: 100%;
      padding: 0.5rem;
    }
    .send-btn {
      margin-bottom: 0.75rem;
    }
  }
}

@media all and (min-width: 481px) and (max-width: 767px) {

  .contact-form {
    width: 75%;
  }

  .contact-btns {
    button {
      width: 35%;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {

  .contact-form {
    width: 60%;
  }
}

@media all and (max-width: 991px) {

  .contact-wrapper {
    width: 100%;
    padding: 2rem 1rem !important;
  }
}