@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;

#works-gallery {
  @include mx.flexRow(space-evenly, center);
  flex-wrap: wrap;
  position: relative;
  &::before {
    @include mx.bgColor(-1, color.$firstColor, 0.1);
  }
  &::after {
    @include mx.bgHeroImg(-5, '/images/works-hero.jpg', 0.9);
    background-position: top;
    position: fixed;
  }
}

.work-card {
  @include mx.colorize(color.$lightBlack, color.$whiteSmoke);
  transition: var.$trs-03;
  cursor: pointer;
  figure {
  overflow: hidden;
    img {
      transition: var.$trs-03;
    }
  }
  &:hover {
    border: 1px solid color.$secondColor;
    @include mx.colorize(color.$white, color.$secondColor);
    img {
    transform: scale(1.1);
    }
  }
}